.contenedor{
    height: 700px;
    width: 450px;
    background-color: rgba(127, 255, 212, 0.233);
    text-align: center;

}


.img{
    border-radius: 50%;
    height: 60px;
}
ul{
    list-style: none;
    a{
        text-decoration: none;
    }
}